src/MergeSource/bin/*
src/MergeSource/obj
src/MergeSource.Tests/bin/*
src/MergeSource.Tests/obj
build/*
packages
paket-files
*.suo
*.userprefs
*~
\#*\#
*.pidb
*.test-cache
src/MergeSource/test-results/*
src/MergeSource.Tests/test-results/*
*.DS_Store
*.csproj.user
TestResult.xml
*.nupkg
*.old
StyleCop.Cache
.paket/paket.exe
